regex
transformers==4.39.2
accelerate==0.27.2
datasets==2.14.6
peft==0.8.2
tensorboard
pillow==10.1.0
omegaconf
einops==0.6.1
einops-exts==0.0.4
iopath
webdataset
ninja
decord
h5py
icecream
flask
datetime
deepspeed==0.12.6
apex
shortuuid
pycocotools
pybind11
six
jieba
numpy==1.24.4
tensorboardX
sentencepiece
nltk
pydantic
transformers_stream_generator
human-eval
modelscope
tiktoken
einops
scipy
rouge_score
