regex
bitsandbytes==0.42.0
transformers==4.37.2
accelerate==0.27.2
datasets==2.14.6
peft==0.8.2
tensorboard
pillow==10.1.0
omegaconf
einops==0.6.1
einops-exts==0.0.4
iopath
webdataset
ninja
decord
h5py
icecream
flask
datetime
torch==2.1.2+cu121
torchvision==0.16.2
deepspeed==0.12.6
apex
shortuuid
pycocotools
pybind11
six
jieba
numpy
tensorboardX
sentencepiece
nltk
pydantic
transformers_stream_generator
human-eval
modelscope
tiktoken
einops
scipy
rouge_score
