# transformers>=4.40.2
transformers==4.44.2
datasets>=2.14.3
accelerate>=0.29.2
peft>=0.9.0
trl==0.9.6
scipy
einops
sentencepiece
protobuf
jieba
rouge-chinese
nltk==3.8.1
uvicorn
#pydantic==1.10.13
pydantic
# vllm==0.2.3
pillow>=10.1.0
fastapi
sse-starlette
matplotlib
deepspeed>=0.13.1
transformers_stream_generator
auto-gptq
optimum
tiktoken
timm
numpy==1.24.4
openlm-hub
pytest
ml_tracker
decord
regex
# bitsandbytes==0.42.0
bitsandbytes==0.43.0
tensorboard
omegaconf
einops-exts==0.0.4
iopath
webdataset
ninja
h5py
icecream
flask
datetime
torch
torchvision
apex
shortuuid
pycocotools
pybind11
six
tensorboardX
human-eval
modelscope